<form action="<%= action == 'new' ? "/cats" : cat_url(cat) %>" method="post">
  <% if action == 'edit' %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="name">name</label>
  <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

  <br>

  <label for="sex">sex</label>
  <input type="radio" name="cat[sex]" value="M" <%= cat.sex == 'M' ? "checked" : ""%>>M</input>
  <input type="radio" name="cat[sex]" value="F" <%= cat.sex == 'F' ? "checked" : ""%>>F</input>

  <br>

  <label for="color">color</label>
  <select id="color" name="cat[color]">
    <% Cat::COLORS.each do |color| %>
      <option <%= color == cat.color ? 'selected' : '' %>><%= color %></option>
    <% end %>
  </select>

  <br>

  <input type="date" name="cat[birth_date]" value='<%=cat.birth_date%>'>

  <br>
  <textarea name="cat[description]" rows="8" cols="80"><%= cat.description  %></textarea>
  <br>
  <input type="submit"></input>
</form>
